<body>
  <h1>Places</h1>

  <ul>
    <% for place in @places %>
      <li class="fs-5 fw-semibold"><a href="/places/<%= place["id"] %>" class="link-success"><%= place["name"] %></a></li>
    <% end %>
  </ul>

  <div class="mt-5">
    <p>
      <a href="/places/new" class="btn btn-dark">New place</a>
    </p>
  </div>
</body>