<body>
  <h1>New Place</h1>

  <% if @current_user %>
    <%= form_with :model => @place do |form| %>
      <p>
        <%= form.label "name" %>
        <%= form.text_field "name" %>
      </p>
      <div class="mt-5">
        <p>
          <button type="submit" class="btn btn-outline-dark">Add a New Place</button>
        </p>
      </div>
    <% end %>
  <% else %>
    You must first <a href="/login" class="link-success">login</a> to post.
  <% end %>
</body>